/* src/App.css */

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #6a11cb, #2575fc);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  border-radius: 15px;
}

h2 {
  font-weight: bold;
}

button {
  transition: all 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.05);
}
